html {
    width: 100%;
}

/* Font family General */
body  {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace !important
}

/* Troubleshooting */
._ts_style_deviceName_Container {
    display: none !important;
}

.ts-answer-icon {
    --custom-color: #006280 !important;
}

._ts_style_sv_answerContent::after, .arrow-down::after, ._ts_style_isl_titleContent::after, ._ts_style_btnBackToTechSupport:after {
    filter: brightness(0) saturate(100%) invert(16%) sepia(94%) saturate(2894%) hue-rotate(178deg) brightness(99%) contrast(104%) !important;
}

._ts_style_sv_questionContainer, ._ts_style_sv_a_textContainer, ._ts_style_glossaryContainer, ._ts_style_isl_titleContainer, ._ts_glossaryLabel, ._ts_style_btnBackToTechSupport {
    color: #006280 !important;
    /* font-family: 'MarkPro' !important */
}

/* How-To Guides */
.scen-data-header {
    color: #006280 !important;
    /* font-family: 'MarkPro' !important */
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace !important
}

.scen-carousel-step {
    color: #006280 !important;
    /* font-family: 'MarkPro' !important */
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace !important
}

.scen-carousel-step a {
    color: #006280 !important;
    /* font-family: 'MarkPro' !important */
}

.scen-carousel-step a:visited{
    color: #006280 !important;
    /* font-family: 'MarkPro' !important */
}

.scen-button-saat{
    color: #006280 !important;
    /* font-family: 'MarkPro' !important */
}

.quest-standalone-feedback-text {
    color: #006280 !important;
    /* font-family: 'MarkPro' !important */
}

.quest-standalone-feedback-container {
    color: #006280 !important;
    /* font-family: 'MarkPro' !important */
}

#buttons0_comment_textbox {
    /* color: #006280 !important; */
    /* font-family: 'MarkPro' !important */
}

.gwt-ListBox {
    color: #006280 !important;
    /* font-family: 'MarkPro' !important */
}

#buttons0_changeFeedback, #buttons0_comment_button {
    background-color: #006280 !important;
    /* font-family: 'MarkPro' !important */
}
